extends layout

block content

  h1.title Agree!

  #wrapper

    #board

    #chat
      p#nextSpeaker Next speaker in...
      p#time

    #videos

  div.options
    button#video-mute(data-muted='false') mute video
    button#audio-mute(data-muted='false') mute audio

  script(type='text/javascript', src='/javascripts/chat.js')
