extends layout

block content

  h1.title Agree!

  #wrapper

    #board

    #chat
      p#time

    #videos
      //- div
      //-   button#video-mute(data-muted='false') video mute
      //-   button#audio-mute(data-muted='false') audio mute

  script(type='text/javascript', src='/javascripts/chat.js')
