body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F76666;
  color: #222222;
}

.title {
  font-family: 'Bree Serif', serif;
  font-size: 54px;
  margin: 50px 0 30px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 5px black;
}

#wrapper {
  margin: 0 auto 50px;
  max-width: 1200px;
  box-shadow: 0px 2px 15px black;
  background-color: #fff;
}

#board,
#chat {
  display: inline-block;
  min-height: 500px;
  vertical-align: top;
}

#board {
  width: 60%;
  background-color: #f7f7f7;
}

#time {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
}

#chat {
  width: 40%;
  background-color: #efefef;
}

#videos {
  background-color: #fff;
}

#videos video {
  width: 200px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px black;
}

#videos video {
  width: 200px;
  height: 150px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px black;
  background-color: grey;
  display: inline-block;
}

#videos video.active {
  border: 2px solid green;
}
