body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F76666;
  color: #222222;
}

.title {
  font-family: 'Bree Serif', serif;
  font-size: 54px;
  margin: 50px 0 30px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 2px 5px black;
}

#wrapper {
  margin: 0 auto 15px;
  max-width: 1200px;
  box-shadow: 0px 2px 15px black;
  background-color: #fff;
  position: relative;
}

#board,
#chat {
  display: inline-block;
  min-height: 500px;
  vertical-align: top;
}

#board {
  width: 60%;
  background-color: #f7f7f7;
}

#time {
  font-weight: bold;
  font-size: 80px;
  text-align: center;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0;
  transition: all .3s;
}

#nextSpeaker {
  font-size: 20px;
  margin-top: 120px;
  text-align: center;
  font-weight: bold;
  transition: .5s all;
  opacity: 0;
}

#nextSpeaker.visible {
  opacity: 1;
  margin-top: 160px;
}

#chat {
  width: 40%;
  background-color: #efefef;
  position: relative;
  text-align: center;
}

.options {
  text-align: center;
}

.options button {
  margin: 0 5px;
  background: none;
  border: none;
  background-color: white;
  color: black;
  border-radius: 3px;
  padding: 5px 10px;
  box-shadow: 0px 1px 5px black;
  transition: .3s all;
}

.options button:hover {
  box-shadow: 0px 2px 5px black;
  cursor: pointer;
}

#videos {
  background-color: #fff;
  margin: 10 15px;
}

#videos video {
  width: 200px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px black;
}

#videos video {
  width: 200px;
  height: 150px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px black;
  background-color: grey;
  display: inline-block;
}

#videos video.active {
  position: absolute;
  top: 20px;
  left: 48px;
  width: 600px;
  height: 450px;
  animation: nextSpeaker .6s;
  -moz-animation: nextSpeaker .6s;
  -webkit-animation: nextSpeaker .6s;
}

@keyframes nextSpeaker {
  from {
    top: 50px;
    opacity: .5;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}
@-moz-keyframes nextSpeaker {
  from {
    top: 50px;
    opacity: .5;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}
@-webkit-keyframes nextSpeaker {
  from {
    top: 50px;
    opacity: .5;
  }
  to {
    top: 20px;
    opacity: 1;
  }
}​
